<section id="get-the-code" class="content">
  <div class="vessel">
    <article id="repos">
    <h2>Repositories</h2>
    <p>
      All WebRocket related source code can be found on our
      <a href="https://github.com/webrocket/">GitHub organization's profile</a> -
      feel free to fork it, submit patches or report any trouble you had while
      using our software. The most important repositories out there are:
    </p>
    <ul id="github-repos">
      <li>
        <a href="https://github.com/webrocket/webrocket">webrocket/webrocket</a>
        <p class="descr">
          ~ Server implementation in Go. Contains also Go implementation of Kosmonaut (backend client).
        </p>
      </li>
      <li>
        <a href="https://github.com/webrocket/webrocket-client">webrocket/webrocket-client</a>
        <p class="descr">
          ~ JavaScript client implementation.
        </p>
      </li>
      <li>
        <a href="https://github.com/webrocket/kosmonaut-ruby">webrocket/kosmonaut-ruby</a>
        <p class="descr">
          ~ Official Kosmonaut implementation in Ruby programming language.
        </p>
      </li>
      <li>
        <a href="https://github.com/webrocket/kosmonaut-java">webrocket/kosmonaut-java</a>
        <p class="descr">
          ~ Official Kosmonaut implementation in Java programming language.
        </p>
      </li>
      <li>
        <a href="https://github.com/webrocket/kosmonaut-python">webrocket/kosmonaut-python</a>
        <p class="descr">
          ~ Official Kosmonaut implementation in Python programming language.
        </p>
      </li>
    </ul>
    </article>
    <article id="contribute">
      <h2>Contribute</h2>
      <p>
        WebRocket is a collaborative project and we encourage contributions
        from anyone and everyone. If you want to contribute in the way that will
        help us most, we recommend fixing reported bugs and implementing the
        feature ideas in the <em>TODO</em> file. However, if you think of new features to add,
        please suggest them too - we might like your idea.
      </p>
      <p>
        If you don't feel up to hacking WebRocket, there are many other ways to
        help. You can answer questions on the mailing lists, write documentation
        and examples, find and report bugs, contribute to the WebRocket web pages,
        or develop a package that works with WebRocket.
      </p>
      <h3>Coding standards</h3>
      <p>
        <strong>Formatting</strong>
        - Just follow the rules you think are good for a particular programming
        language. In Go lang using <code>gofmt</code> will solve the problem
      </p>
      <p>
        <strong>Testing</strong>
        - If you are implementing a new feature, please write the appropriate tests
        to prove its proper functionality. Remember to always check that all the
        tests are passing before you submit your changes. Use the `make check`
        command to run our test suite.
      </p>
      <p>
        <strong>Documentation</strong>
        - All new types and functions added to the code should be documented.
        Good documentation makes your life and ours much easier.
      </p>
      <h3>Submitting Patches</h3>
      <p>
        Every patch must have several pieces of information before we
        can properly evaluate it.
      </p>
      <p>
        When you have all these pieces, bundle them up and send us a pull request.
        If your patch is not complete and you think it needs more discussion,
        don't hesitate to create an issue or discuss on existing one. If you
        revise your patch, send it as a followup to the initial topic.
      </p>
      <p>
        <strong>Description</strong>
        - Bug fixes must include a description of the bug and how your patch fixes it.
        New features must include a description of the feature and your implementation.
      </p>
      <p>
        <strong>ChangeLog</strong>
        - A ChangeLog entry as plaintext (separate from the patch).
        See the various ChangeLog files for format and content. Note that,
        unlike some other projects, we do require ChangeLogs also for
        documentation, i.e. txt files in the 'docs' directory.
      </p>
      <p>
        <strong>The patch itself</strong>
        - Please, reread your patch's diff before you submit it. Use the `git diff` command
        to review it.
      </p>
      <p>
        <strong>Do not mix changes</strong>
        - If you send several unrelated changes together, we will ask you to
        separate them so we can consider each of the changes by itself.
      </p>
      <p>
        <strong>Do not make formatting changes</strong>
        - Making cosmetic formatting changes (indentation, etc) makes it harder
        to see what you have really changed.
      </p>
    </article>
  </div>
</section>
