<section id="contact" class="content">
  <div class="vessel">
    <article id="contact-content">
      <p>
        Communication between humans is as important as real-time communication
        between browsers and apps provided by WebRocket. Don't hesitate to poke
        us and share your feedback, to report bugs or ask some questions!
      </p>
      <p>
        Feel free to contact us directly via mail <b><code>hi[at]webrocket.io</code></b>.
        General questions can be asked on the <b><a href="http://groups.google.com/group/WebRocket">mailing list</a></b> hosted
        by Google groups. If you prefer direct communication, you can find us
        on our official IRC channel: <b>#webrocket</b> at freenode.
      </p>
      <p>
        If you want to know about what happens with WebRocket then you should
        consider <a href="http://twitter.com/webrocketio">following us on Twitter</a> as well.
      </p>
    </article>
  </div>
</section>
