<section id="crew" class="content">
  <div class="vessel">
    <div id="crew-content">
      <h2>Our awesome crew</h2>
      <article id="crew-nu7hatch">
        <img src="/img/head-nu7.png" alt="nu7" />
        <header>
          <h3>Krzysztof Kowalik</h3>
          <a href="http://twitter.com/nu7hatch" class="twitter">@nu7hatch</a>
        </header>
        <p>
          This polish freak started everything - just wanted to give <a href="http://golang.org">Go lang</a>
           a try and ended up building a &quot;rocket&quot;... That's rocket science!
          When he's not hacking the code you can find him juping over the ledges or
          powerblading on his rollers around the city. It's easy to recognize him by
          his strange hairdos.
        </p>
      </article>
      <article id="crew-rabble">
        <img src="/img/head-rabble.png" alt="rabble" />
        <header>
          <h3>Evan Henshaw-Plath</h3>
          <a href="http://twitter.com/rabble" class="twitter">@rabble</a>
        </header>
        <p>
          Hacker & Troublemaker. Rabble was the first employee and lead developer
          at Odeo.com the podcasting company which birthed twitter. He’s worked
          at companies which were disasters both big like Palm, Yahoo, and small
          ones you’ve never heard of too. He brought to WebRocket bunch of business
          ideas, lean startup spirit and the Unix beard.
        </p>
      </article>
      <article id="crew-diego">
        <img src="/img/head-diego.png" alt="oboxodo" />
        <header>
          <h3>Diego Algorta</h3>
          <a href="http://twitter.com/oboxodo" class="twitter">@oboxodo</a>
        </header>
        <p>
          Started programming at 8 years old when his mother bought him a TK-85
          (Sinclair ZX81 clone) computer... Well, but WebRocket doesn't need
          a TK-85 port yet, so instead of programming Diego was watching if
          everything was going fine in the project and occasionally calling out for
          some results... you know, the working ones.
        </p>
      </article>
      <article id="crew-picando">
        <img src="/img/head-fernando.png" alt="fernando" />
        <header>
          <h3>Fernando Briano</h3>
          <a href="http://twitter.com/picandocodigo" class="twitter">@picandocodigo</a>
        </header>
        <p>
          The Java guy adopted by the Ruby community! He put his oar in the project by
          implementing a Java client. Fernando is also an avid blogger about programming,
          free software and more. Still not sure if it’s more fun to develop software
          or write and talk about the software development process. He reads a lot of
          comics and collects t-shirts. His favorite beverages are coffee and craft beer.
        </p>
      </article>
      <article id="crew-cuervo">
        <img src="/img/head-cuervo.png" alt="cuervo" />
        <header>
          <h3>Bruno Aguirre</h3>
          <a href="http://twitter.com/cuerbot" class="twitter">@cuerbot</a>
        </header>
        <p>
          El Cuervo brought up the early version of the JavaScript client and became
          our JavaScript guru for any further work. After hours he's a devoted practitioner
          of the Sacred Sausage, an olden Uruguayan tradition. You can usually see him wearing
          the Sausage Collar, customary for the believers of the reincarnation of the
          Cruising Bologna Monster.
        </p>
      </article>
      <article id="crew-pote">
        <img src="/img/head-pote.png" alt="pote" />
        <header>
          <h3>Pablo Astigarraga</h3>
          <a href="http://twitter.com/poteland" class="twitter">@poteland</a>
        </header>
        <p>
          PoTe was showing up as a voice of conscious and English grammar meanwhile
          kicking <a href="#crew-nu7hatch">nu7hatch</a>'s ass in PES! He also helped
          to write a Python version of the client. He likes to keep a variety of hobbies in
          his endless quest to be a &quot;Jack of All Trades&quot; guy, PoTe plays bass and guitar on his
          band, follows science fiction and fantasy series such as <em>Doctor
          Who</em> and <em>A Song of Ice and Fire</em> and struggles to keep
          his Kung Fu from getting rusty, mostly failing miserably.
        </p>
      </article>
    </div>
    <br/>
    <div id="greetz">
      <h2>Greetz</h2>
      <p>
        Thanks to everyone who helped us in making WebRocket real and available
        to use. Thanks for every line of code, every feedback and every good word.
        Here are special thanks for those who helped us the most...
      </p>
      <p>
        Thanks to <a href="http://twitter.com/DrummerHead">Nicolas Barrera</a>
        for bunch of UX work put in the project and for showing us how HTML5
        and CSS3 can be awesome. Thanks to <a href="http://twitter.com/uxheit">Sebastian Heit</a> and
        <a href="http://massonn.com">Jean-Paul Massonnier</a> - folks from <a href="http://zimmic.com">Zimmic</a>
        for efforts in making graphics and t-shirts! Huge thanks to <a href="http://hirsz.co/">Rafał Hirsz</a>
        for being a punctual designer and putting our website graphics in awesome
        shape. Thanks to all <a href="http://drug.org.pl/">DRUG</a> folks for their great
        feedback! Finally, humongous greetings to all the guys who were helping me out
        to solve quirks with Go at <a href="irc://freenode.net/go-nuts">#go-nuts</a>
        IRC channel on freenode - especially to skelterjohn and kevlar_work.
      </p>
      <p>
        Don't get mad if we missed someone there, we're thankful for everyone
        who helped us out!
      </p>
    </div>
  </div>
</section>
