<section id="demos" class="content">
  <div class="vessel">
    <article id="demos-content">
      <div id="demos-yodachat">
        <a href="http://yodachat.com" id="yodachat-logo-link"><img src="/img/yodachat-logo-big.png"></a>
        <h2>Yoda Chat</h2>
        <p>
          A full sample app for folks to see how webrocket works. It show's how a 
          Multiuser web chat application build in simple sinatra app Ruby using the webrocket and our <a href="https://github.com/webrocket/kosmonaut-ruby">kosmonaut</a> gem. 
        </p>
        <p>
          <B>Site:</B> <a href="http://yodachat.com">yodachat.com</a><br>
          <B>Code:</B> <a href="http://github.com/webrocket/yodachat">github.com/webrocket/yodachat</a><br>
          <B>Gem:</B> <a href="https://github.com/webrocket/kosmonaut-ruby">kosmonaut-ruby</a><br>
          <B>Javascript:</B> <a href="https://github.com/webrocket/webrocket-client">webrocket-javascript</a><br>
          <B>Language:</B> <a href="http://ruby-lang.org">ruby</a><br>
        </p>
      </div>
    </article>
  </div>
</section>
