<section id="download" class="content">
  <div class="vessel">
    <div id="download-server">
      <h2>Install server</h2>
      <article id="latest-version">
        <h3>Latest version (v<%= $latest_server_version %>)</h3>
        <p>
          Select your operating system from the list below. There you will find
          all the appropriate downloads and vast installation instructions with
          troubleshooting:
        </p>
        <ul class="nobullets packages">
          <li>
            <a href="/docs/install/deb/"><b>Debian/Ubuntu</b></a>
          </li>
          <li>
            <a href="/docs/install/rpm/"><b>Fedora/RHEL/CentOS</b></a>
          </li>
          <li>
            <a href="/docs/install/mac/"><b>Mac OS X</b></a>
          </li>
          <li>
            <a href="/docs/install/sources/"><b>Any Unix or Linux</b></a>
          </li>
          <li>
            <a href="/docs/install/windows/"><b>Windows</b></a>
          </li>
        </ul>
        <p>
          If you've encountered any problems while installing or using our
          server, please don't hesitate to <a href="https://github.com/webrocket/webrocket/issues/">report your issues</a>
          or notify us about it.
        </p>
      </article>
      <article id="older-versions">
        <h3>Older versions</h3>
        <p>
          Older versions of the sources and binaries are available to download
          from <a href="http://mirror.webrocket.io/">this mirror server</a>.
        </p>
      </article>
    </div>
    <div id="download-client">
      <h2>Get the client</h2>
      <article id="official-client-libraries">
        <h3>Javascript - The Web Client Library</h3>
        <p>
          To use webrocket in your browser we provide a nifty <a href="/docs/javascript/overview">javascript client</a>
          which gives you a great api for sending and receiving real time messages
          in your web application. 
        </p>
      </article>
      <article id="official-client-libraries">
        <h3>Official Server Side Libraries (Kosmonaut)</h3>

        <ul class="nobullets clients">
          <li>
            <a href="/docs/backends/kosmonaut-for-go/"><b>Go</b></a>
            <small>by <a href="https://github.com/nu7hatch">nu7hatch</a></small>
            <div class="clearfix"></div>
          </li>
          <li>
            <a href="/docs/backends/kosmonaut-for-ruby/"><b>Ruby</b></a>
            <small>by <a href="https://github.com/nu7hatch">nu7hatch</a></small>
            <div class="clearfix"></div>
          </li>
          <li>
            <a href="/docs/backends/kosmonaut-for-java/"><b>Java</b></a>
            <small>by <a href="https://github.com/picandocodigo">picandocodigo</a></small>
            <div class="clearfix"></div>
          </li>
          <li>
            <a href="/docs/backends/kosmonaut-for-python/"><b>Python</b></a>
            <small>by <a href="https://github.com/pote">PoTe</a> and <a href="https://github.com/nu7hatch">nu7hatch</a></small>
            <div class="clearfix"></div>
          </li>
        </ul>
      </article>

      <article id="official-client-libraries">
        <h3>Community libraries</h3>
        <p>
          There's no backend client in your favorite programming language yet?
          You don't have to wait for us! The protocol is open and easy to
          implement - you code it on your own according to the
          <a href="/docs/specs/backend-api/">backend protocol specification</a>.
        </p>
      </article>
    </div>
    <div class="clearfix"></div>
  </div>
</section>
