<section id="faq" class="content">
  <div class="vessel">
    <h2>Frequently asked questions</h2>
  
    <ul>
      <li>
        <h3>Open source? Is this stuff seriously for free?</h3>
        <p>
          WebRocket is an Open Source project and we're proud of that.
          We love to see people involved in development and improvement of our
          product, we also want people to use it without limits on their own.
        </p>
        <p>
          However, hosted service of WebRocket platform is also in our offer.
          If you don't want to worry about maintainance we can provide you
          with a PaaS, easy to integrate with the most popular Cloud platforms
          including Heroku, Engine Yard and AppFog.
        </p>
      </li>
      <li>
        <h3>You say that it's distributed system, but there's no clustering yet, why?</h3>
        <p>
          WebRocket is in an early stage now, you can consider the current release as MVP,
          so we don't need very high scale for it yet. Reliable clustering is very
          hard to implement and it depends a lot on the users' needs. Our approach is
          to first gather feedback and see how various people are using it, then
          introduce the most suitable clustering implementation.
        </p>
      </li>
      <li>
        <h3>Why do you use 'sources' instead of normal events?</h3>
        <p>
          There's few reasons for that. First, we wanted to remove any repetitions from our code
          which may lead to stupid errors. With normal events you have to repeat it every time
          you're calling it or listening for. Having one place where the source (event) is
          defined is way more reliable and makes you're code base leaner.
        </p>
        <p>
          Second argument in favor of that approach is that frontend and backend implementations
          are reflecting each other. This makes our project more predictible and
          easier to maintain.
        </p>
      </li>
      <li>
        <h3>Is there a client implementation in language X?</h3>
        <p>
          For the MVP version we prepared clients for Go, Ruby and Java languages, they are all well
          tested and considered as ready to use in production. We do hard work to bring more
          clients for other programming languages, however specification of the backend protocol is
          open and we encourage the community to write their own backend drivers as well. We hope
          that the list of the implementation will grow fast!
        </p>
      </li>
    </ul>
  </div>
</section>
