<div id="head">
  <section id="banner">
    <div class="vessel">
      <div id="banner-text">
        <h2 class="slogan">
          Open source, robust and bi-directional Web broker
        </h2>

        <p class="tagline">
          Build real-time, WebSockets powered applications with no fuss!
          Now everyone can build real-time apps.
        </p>

        <div class="take-a-tour tour-related">
          <a href="http://tour.webrocket.io/#1">Take a 10-minutes long tour</a>
          <p>Go through our interactive tutorial and discover the power
            of WebRocket! You're gonna love it... &#9829;</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </section>

  <section id="clouds">
    <div class="first"></div>
    <div class="second"></div>
    <div class="third"></div>
  </section>
</div>

<section id="information">
  <div class="first">
    <div class="trans">
    <article id="real-time-web-for-masses" class="vessel">
      <div class="in">
        <h2>Real-time Web for masses</h2>
        <p>
          What is real-time Web? <strong>It's a bi-directional communication between browsers
            and web applications</strong>, usually solved by implementing a <strong>WebSockets</strong> server.
          But WebSockets are complicated and hard to scale! You don't need to care
          about it anymore. WebRocket is a broker - a tie between a very efficient WebSockets
          server implementation and your backend apps. 
        </p>
        <p>
          WebRocket combines <strong>very efficient and scalable WebSockets server</strong> with internal
          messaging and asynchronous backend communication. The core system is written in <strong>Go
            programming language</strong> - a reliable and extremally fun language, which we believe
          will rock development of distributed apps in the nearest future.
        </p>
      </div>
    </article>
    </div>
  </div>

  <div class="second">
    <div class="trans">
    <article id="no-language-barrier" class="vessel">
      <div class="in">
        <h2>No language barrier</h2>
        <p>
          WebRocket backends can be implemented in <strong>any programming language</strong>, which
          means that you don't have to learn new languages or complicated technologies
          to use the power of WebSockets in your apps. You can spend your saved time on
          learning Klingon instead... :)
        </p>
      </div>
    </article>
    </div>
  </div>

  <div class="third">
    <article id="open-source-platform" class="vessel">
      <div class="in">
        <h2>Open source platform</h2>
        <p>
          The main motivation behind WebRocket was a need to create an <strong>open platform on top of
            WebSockets</strong> which will make building real-time Web applications <strong>faster and easier,
            and more fun</strong>. Our code will never be hidden, we want to bring real-time Web to everyone!
        </p>
      </div>
    </article>
  </div>
</section>
